[2016-03-31 00:44] mcqueary opened #1 "Add examples"
Add publisher and subscriber examples

[2016-03-31 21:47] #1 closed, assigned to mcqueary

[2016-07-15 18:00] jnsone11 opened #6 "dependency not found on maven central"
<dependency>
      <groupId>io.nats</groupId>
      <artifactId>java-nats-streaming</artifactId>
      <version>0.1.0-SNAPSHOT</version>
    </dependency>

git clone + mvn install results in reproducable error (pom.xml parent not found)

[2016-07-15 18:01] mcqueary commented on #6
Thanks for reporting. I'll have a look.

[2016-07-15 18:06] mcqueary commented on #6
Please clone nats-io/nats-parent-pom and `mvn install` prior to performing the `mvn install` in java-nats-streaming.

[2016-07-15 19:19] jnsone11 commented on #6
Your instructions worked for me. Thanks

[2016-07-15 19:59] mcqueary commented on #6
Excellent. Apologies for the confusion. I'll get this stuff posted up on
Maven Central so you can do dependency resolution the "normal" way.

On Fri, Jul 15, 2016 at 1:19 PM, Jens <notifications@github.com> wrote:

--
*Larry McQueary* | Director, Messaging Technology
larry@apcera.com | @mcqueary | github.com/mcqueary

[2016-07-15 19:59] #6 closed

[2016-07-16 17:30] jnsone11 opened #7 "wildcards"
I wasn't able to use jnats streaming with wildcards. I'm always getting error "stan: invalid subscription". Are wildcards possible with streaming or am I doing something wrong?

[2016-07-18 14:19] aricart commented on #7
Your are correct.  Wildcards are not possible with nats-streaming-server subscriptions.

[2016-07-18 21:43] mcqueary commented on #7
Resolved by #8

[2016-07-18 21:43] #7 closed

[2016-07-19 12:20] jnsone11 opened #9 "jnats interoperability / request-reply"
It seems jnats and java nats streaming are currently not interoperable (pub sub on the same subjects does not work for me)?

Creating temp subjects via streaming is a way to achieve request-reply.
However, it seems the client denies to open too many subjects.

I feel a bit uncomfortable having a jnats client besides a streaming client in the same application.
Any suggestions?

Cheers
Jens

[2016-07-19 20:07] kozlovic commented on #9
You are right that NATS Streaming and NATS are not interoperable. If your application needs streaming and basic NATS, then you would need 2 different connections. Yet, they will not be able to communicate with each other as you have discovered.

If you do request-reply, you don't need persistence. The reason is that with req/reply you get an even higher quality of service: you have an end-to-end c

[2016-07-19 20:43] jnsone11 commented on #9
Thank you for your post.

I was asking because of use cases where you do request reply but also want to log that particular activity at least once via a second subscription.

Maybe a client side Proxy from default to Stream might help.

[2016-07-29 22:37] mcqueary commented on #9
@jnsone11 Jens, you could certainly subscribe to `>` on the NATS side, and see all the NATS Streaming messages. The other option would be to have your NATS Streaming requestor clients use well-known reply subjects (vs auto-generated INBOX subjects) that can be subscribed to by your 'logger' NATS client. If the logger NATS client knows the request and reply subjects in advance, you can log all the

[2016-07-29 22:56] mcqueary opened #11 "Classname uniqueness vs jnats"
The potential requirement to use a jnats `Connection` and java-nats-streaming `Connection` concurrently in the same application forces package name qualification.

Consider qualifying the java-nats-streaming `Connection` with something simple, e.g. `NSConnection`

/cc @laugimethods

[2016-08-01 12:41] laugimethods commented on #11
NS reminds me of ObjectiveC... http://stackoverflow.com/questions/473758/what-does-the-ns-prefix-mean.
I would also suggest "StreamingConnection".

[2016-08-08 14:53] laugimethods opened #12 "ConnectionFactory(String clusterId, String clientId) not throwing NullPointerException"
The ConnectionFactory Constructor doesn't throw an exception when clusterId or clientId are null
[code]
while their setters do:
[code]

[2016-08-12 19:17] mcqueary commented on #11
I thought the same thing as I was writing that name :) We'll figure it out.

On Mon, Aug 1, 2016 at 6:41 AM, Laurent Magnin <notifications@github.com>
wrote:

--
*Larry McQueary* | Director, Messaging Technology
larry@apcera.com | @mcqueary | github.com/mcqueary

[2016-08-12 19:22] laugimethods commented on #11
Also, it would definitively be helpful (at least for the NATS / Spark Connectors) to have both Connection & StreamingConnection sharing the same interface to avoid the duplication of same code but based on different Connection classes.

[2016-08-12 23:45] mcqueary commented on #11
Hmm. That would be a stretch. The interfaces are intentionally different.
We could perhaps _wrap_ them in a common interface for connector usage. Or
the Connector framework could implement its own wrapper.

To do it in the client libraries themselves would be a significant
refactoring effort and a breaking change.

On Fri, Aug 12, 2016 at 1:22 PM, Laurent Magnin <notifications@github.com>
wrote:

[2016-08-15 12:00] laugimethods commented on #6
Please reopen that issue since builds on the cloud (like with Wercker or Travis) need all librairies available online.
Thank you in advance.

[2016-08-15 20:54] kcarlson2915 commented on #6
Issue still remains. mcqueary's workaround on July 15 works, however it should also be noted that line 49 "<jnats-version>0.5.0-SNAPSHOT</jnats-version>" also points to an outdated version. 0.6.0-SNAPSHOT is available.

[2016-08-15 20:57] mcqueary commented on #6
Thanks guys. I will update this today. I had to make a number of changes in
the various poms in the last week and should now be able to get
java-nats-streaming
updated and pointing at a proper jnats release.

On Monday, August 15, 2016, Kevin <notifications@github.com> wrote:

--
*Larry McQueary* | Director, Messaging Technology
larry@apcera.com | @mcqueary | github.com/mcqueary

[2016-08-26 06:00] #12 closed

[2016-08-26 06:02] #9 closed

[2016-08-26 22:13] laugimethods opened #18 "jnats-0.5.1.pom: Impossible to load parent"
Issue probably related to [Add empty relative path to force parent POM resolution](https://github.com/nats-io/jnats/commit/4a5280696371e9ddb365591a352ff6f9fb14223d):

`libraryDependencies += "io.nats"  % "java-nats-streaming" % "0.1.0-SNAPSHOT" changing()`
works fine locally (`sbt compile`), but not on Wercker [logimethods / nats-connector-gatling](https://app.wercker.com/logimethods/nats-connecto

[2016-08-29 12:19] laugimethods commented on #18
JNATS 0.5.1 has a reference to nats-parent version "1.0-SNAPSHOT" (https://oss.sonatype.org/service/local/repositories/releases/archive/io/nats/jnats/0.5.1/jnats-0.5.1.jar/!/META-INF/maven/io.nats/jnats/pom.xml), which does not exists (**_anymore_**) on the central Maven Repository (https://oss.sonatype.org/#nexus-search;quick~io.nats).

[2016-08-29 14:27] laugimethods opened #19 "Different nats_checkstyle.xml file contents (vs. jnats-0.5.1)"
While calling `sbt clean assembly dockerFileTask` against [docker-nats-connector-spark/app](https://github.com/Logimethods/docker-nats-connector-spark/tree/master/app), I get such fatal exception:
[code]
Indeed, [jnats-0.5.1.jar/!/nats_checkstyle.xml](https://oss.sonatype.org/service/local/repositories/releases/archive/io/nats/jnats/0.5.1/jnats-0.5.1.jar/!/nats_checkstyle.xml) has (at least) the f

[2016-08-29 15:30] laugimethods commented on #19
FYI, that issue has been solved that way (code added to the `build.sbt` file):
[code]

[2016-08-29 17:15] mcqueary commented on #18
Hi there. I have been doing some release maintenance work over the weekend and I noticed the same issue with SNAPSHOT dependencies. Ultimately the right fix is that we shouldn't depend on a SNAPSHOT of our own parent POM :) (my fault for being messy).

If I released 0.5.2, with a stable/visible nats-parent dependency, would that be an acceptable fix?

[2016-08-29 17:18] laugimethods commented on #18
A release of JNats version 0.5.2, referenced by a new version of java-nats-streaming would be great!

[2016-08-29 17:24] mcqueary commented on #19
Laurent -- interesting. This is probably the result of not filtering the files that go into the bundle(s). I don't believe that `nats_checkstyle.xml` should be in there (nor any other non-runtime resources). I'll fix that. Thanks for making me aware of this.

[2016-08-29 19:53] mcqueary commented on #18
jnats-0.5.2 is released. I'll have the java-nats-streaming-0.1.2 released shortly.

[2016-08-29 22:03] mcqueary commented on #19
`java-nats-streaming-0.1.2`, which depends on `jnats-0.5.3` has been released and fixes this altogether by removing `nats_checkstyle.xml` from the bundle/jar of both packages. Give it a while to show up on Central, as always.

[2016-08-29 22:03] #19 closed

[2016-08-29 22:04] mcqueary commented on #18
`jnats-0.5.3` and `java-nats-streaming-0.1.2` both released and have resolved the issue.

[2016-08-29 22:04] #18 closed

[2016-08-30 12:14] laugimethods commented on #18
Issues indeed solved! Thank you!

BTW, I still have another issue I have to investigate (probably due to incompatible or missing librairies) :
[code]

[2016-08-30 16:31] laugimethods opened #20 "Incompatibility between java-nats-streaming & Spark: protobuf versions conflict."
When a connection to NATS Streaming (0.1.2) is called from a Spark Cluster (1.6.2), the following exception does occur:

[code]

The root cause of that issue is probably due to a conflict between the versions of Google Protobuf used by java-nats-streaming (3.0.0) & Spark (2.5.0):
http://stackoverflow.com/questions/34487996/how-can-i-use-proto3-with-hadoop-spark

I didn't find an easy way to solve

[2016-09-07 16:00] zshamrock opened #22 ""stan: invalid start time" exception"
When running the following example https://gist.github.com/zshamrock/16215ecdccfac107212fabcc4af88bc2 (Subscriber.java), I get the corresponding exception:

[code]

(passing `session.ceba04ba-aeff-414c-8912-1eb337db0ddc 1473261548683` as program arguments)

Although if I do run in debug (so, there is a delay in between) then the subscriber starts without any errors. Although depends on the delay I

[2016-09-08 18:33] zshamrock opened #23 "ConnectionFactory.createConnection() to return Connection instead of ConnectionImpl"
`ConnectionFactory.createConnection()` returns `ConnectionImpl` (which is a package-scope class). It might be better to return implementing interface instead `Connection`.

Returning `ConnectionImpl` is exposing internal details of the client, and also makes it impossible to stub the `ConnectionFactory` for testing, as `createConnection` can't be overridden, due to `ConnectionImpl` is not publicly

[2016-09-09 15:10] #23 closed

[2016-09-09 15:42] mcqueary commented on #22
Can you verify that the timestamp you're passing to the Subscriber is >= the oldest event that `nats-streaming-server` has stored? If the timestamp you supply is older than the first stored event, you'll get the error indicated.

[2016-09-09 16:28] mcqueary commented on #22
As long as I enter a start timestamp that is ~10ms > the Publisher's start timestamp, there is no exception. Please bear in mind that regardless of what time the publisher starts:

- It does take a small but measurable amount of time for the connection to be created and the first message to be published
- messages are timestamped at the server, after they have been received, and just before they a

[2016-09-09 16:28] zshamrock commented on #22
Yes, I think this is the case. I also saw similar errors when I try to use the very big seq number (greater than total number of messages available) or delta (N seconds ago) when no messages are available.

2 questions:
- can the errors be then more user-friendly, if possible, explaining, why the value is invalid
- on bigger scope - why it is an error at all? Is it a technical limitations/architec

[2016-09-09 16:32] mcqueary commented on #22
Aliaksandr, you raise a good point(s), both about the error and the fact that it is an error at all. We discussed this internally during implementation and didn't come to a consensus, so your feedback is useful.

I think we can at least make the error message more friendly.  As to whether we consider it an error, or just start with the earliest timestamp we DO have, we'll keep discussing.

[2016-09-09 17:29] zshamrock commented on #22
A few more thoughts/examples on the "error":

(`session-replay` is the tool I wrote, to fetch messages/subscribe to the subject):

### Start at seq
$ session-replay -sid ba19263a-e347-4c29-85ed-1ffcfceb9282
[code]
So, there are 12 messages in the subject/channel.
Asking for seq 12, returns the latest one:
[code]
Although, if I ask for seq 13, it fails (as "expected"):
[code]
It is difficult to com

[2016-09-09 18:08] zshamrock commented on #22
One more thing, back to my original statement from the issue:

I've just tried it one more time, and it is still the case. You can try to reproduce it itself:
1. Run `Publisher` for a few secs, remember session/subject id and timestamp. Stop it.
2. Run `Subscriber` pass the recorded subject and timestamp, it will fail with the exception in the topic
3. Run `Subscriber`, put a breakpoint (at least

[2016-09-09 18:43] kozlovic commented on #22
Note that in `Subscribe without debug/breakpoints` the error is not about invalid subscription, but connect to server failed (`connect request timeout`).
The subscriber (running in debug) receives messages because the given timestamp is >= than the first message and <= than the last.
Note that we are internally discussing if it makes sense at all to return an error both for time and sequence if no

[2016-09-09 19:06] zshamrock commented on #22
Interesting, I've tried once again without debug, and actually it returns 2 different exceptions (I saw `timeout` once, the first time I tried to connect after the publisher was stopped, so probably due to some internals to make subject available?)

All other runs results in the following error:
[code]

But running in debug I use the very same timestamp value I use without debug mode. So, I've exp

[2016-09-09 21:38] mcqueary commented on #22
If you can reproduce the timeout exception and stack trace, I'd be interested in seeing it.

[2016-09-10 19:54] zshamrock commented on #22
It is difficult, I don't know the exact steps to reproduce it.

I got one more today, although this time for Publisher. Here is the exception, and all the stack trace I had, and also the log from the stan with -SDV and -DV enabled (not sure if the helps):
[code]

No, I am not using the latest snapshot, 0.2.2 for the server, and 0.1.2 for the client.

[2016-09-12 19:51] kirbyclover opened #26 "Never exits gracefully"
Hello again,

Thank you for pointing me to the NATS streaming client.

I'm using version 0.1.2 and following the examples here on the readme.

I can't seem to ever get the client to exit gracefully. I assume some resource or thread pool is still open, but I can't figure out how.

Here is a simple example. When you run this, the process just hangs

[code]

[2016-09-12 20:48] jeffkirby commented on #26
I see the problem. The heart beat subscription is still open in `ConnectionImpl`.

I fixed my local copy to also call `unsubscribe()` on `hbSubscription` in `ConnectionImpl.close()`

If you want I'll contribute a patch here. Doesn't look like I can currently do that

[2016-09-12 20:56] jeffkirby commented on #26
I created a pull request
https://github.com/nats-io/java-nats-streaming/pull/27

[2016-09-12 21:32] mcqueary commented on #26
Hi Jeff -- thanks, I'll have a look.

[2016-09-13 00:01] mcqueary commented on #26
Closed by #27

[2016-09-13 00:01] #26 closed

[2016-09-13 21:07] bkim54 opened #29 "Get underlying nats connection from stan connection"
The method `getNatsConnection()` on io.nats.stan.ConnectionFactory only returns a user set nats connection.

Other clients (.net and node) support returning the actual nats connection stan uses.

[2016-09-14 15:14] mcqueary commented on #29
Thanks for pointing this out, Bill. We’ll fix that and roll a new release.

--
Larry McQueary | Director, Messaging Technology
larry@apcera.com <mailto:larry@apcera.com> | @mcqueary | github.com/mcqueary <http://github.com/mcqueary>

[2016-09-14 17:50] #29 closed

[2016-09-20 03:23] mcqueary opened #31 "Integrate jnats benchlib"

[2016-10-16 02:54] sfrooster opened #33 "Implementation of SLF4J Should Be Left To Users Of java-nats-streaming"
When used in a library that others will consume (java-nats-streaming, for example), logging implementation should be deferred to the consumer.

SLF4J agrees here: http://www.slf4j.org/codes.html#StaticLoggerBinder

Instead of requiring specific implementations of logging, java-nats-streaming should bind to "slf4j-api".

[2016-10-27 13:07] mcqueary opened #35 "Implement durable close to match go-nats-streaming"
See nats-io/go-nats-streaming/pull/115

[2016-10-27 13:13] mcqueary commented on #33
Michael, I'm not sure I follow. `java-nats-streaming` doesn't bind to any specific logging implementation. It does implicitly depend on slf4j-api (through `jnats`), but that's it.

When/where did you see otherwise? Maybe an older version of the examples?

[2016-10-27 13:52] mcqueary commented on #31
Closed via #32

[2016-10-27 13:52] #31 closed

[2016-10-28 17:17] sfrooster commented on #33
When we call ConnectionFactory.createConnection we get the following:

`SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.`

[2016-10-28 19:58] mcqueary commented on #33
I think perhaps you misinterpreted [what you read regarding `StaticLoggerBinder`](http://www.slf4j.org/codes.html#StaticLoggerBinder). The error you're getting is because you have not bound a logger; slf4j prints the error and defaults to a no-op  implementation in this case. As stated on their page, if you don't care about logging and want to suppress this error, just put `slf4j-nop.jar` on your

[2016-10-28 20:28] mcqueary commented on #33
I have updated the README in both `nats-io/jnats` and `nats-io/java-nats-streaming` to include this info.

[2016-10-28 20:28] #33 closed

[2016-10-31 16:41] sfrooster commented on #33
Agreed - I finally managed to sort through this and the issue wasn't yours.

[2016-11-02 01:24] mcqueary commented on #33
Cool, glad you got it sorted!

[2016-11-03 15:30] sfrooster commented on #35
+1 for this (plus node and  csharp)

[2016-12-08 22:49] #35 closed

[2016-12-19 06:36] zshamrock opened #40 "Does NATS streaming client manage reconnect properly?"
NATS connection provides various callback methods, like `setDisconnectedCallback`, `setClosedCallback` and others. As well as exposes the connection stats over `isClosed`, `isConnected`, `isReconnecting`.

NATS streaming connection on the opposite doesn't have any of those methods above. Although it is possible to get the underlying NATS connection using `getNatsConnection` to check the state (is

[2016-12-19 06:43] zshamrock opened #41 "Timer already cancelled error"
Occasionally I get the following error in the log:

![nats streaming timer issue](https://cloud.githubusercontent.com/assets/1122268/21303427/a32e9108-c5be-11e6-8107-4d703433f573.png)

Is it known issue in the NATS streaming client, or what could be cause of this issue, and is it possible to recover from this? Re-create the connection?

#40 might be related

[2016-12-19 06:50] zshamrock commented on #41
Using NATS streaming `0.3.0` version, and NATS streaming client `0.4.1` version

[2016-12-24 00:07] mcqueary opened #42 "Durable sub queue group may miss a message if a group member crashes"
This is explained further in the related Slack conversation but here's the synopsis: start 3 subscribers using the below app. Kill one with `CTRL-C`. There is a seqno gap (1 message).

[pom.txt](https://github.com/nats-io/java-nats-streaming/files/671557/pom.txt)
[App.java.txt](https://github.com/nats-io/java-nats-streaming/files/671559/App.java.txt)
![missingmsg](https://cloud.githubusercontent.c

[2016-12-24 00:09] ae6rt commented on #42
Here is how I was sending messages, fwiw:

[code]

[2016-12-24 00:12] ae6rt commented on #42
The full Java app:

[code]

[2016-12-24 00:17] ae6rt commented on #42
Finally, how I started the server

[code]

[2016-12-24 15:48] ae6rt commented on #42
I performed a similar set of operations using the same server, but this time with the stock stan-sub.go Go client to play the subscriber role.  I believe the missing message effect obtains in this case, too.

Run three subscribers, and kill one with prejudice with 'kill -9', such that its signal handler does not run.  afaict, message seq==25 is missing.

![image](https://cloud.githubusercontent.co

[2016-12-26 22:08] kozlovic commented on #42
@ae6rt As explained in the Slack channel, the server assigns the messages to the member that has crashed since it does not know that it has crashed (there is no direct TCP connection between clients and server). So only after the server-to-client heartbeat mechanism tells the server that the client is gone that those messages get redelivered to the remaining members. The server version `0.3.6` all

[2016-12-26 22:08] #42 closed

[2016-12-30 06:08] zshamrock commented on #41
Is the development of the client still in progress? @mcqueary @kozlovic ? Any ideas on the error above?

[2016-12-30 06:09] zshamrock commented on #40
@mcqueary could you, please, comment on this? What is the overall status with this client development, not much activity in the recent days.

[2016-12-30 16:10] ColinSullivan1 commented on #41
@zshamrock , development is still in progress, and one of us will look into this - apologies for the delay.  Can you describe what is going on in your environment when you encounter this?

[2016-12-30 16:36] ColinSullivan1 commented on #40
@zshamrock , this client is still being supported and maintained.

It is not possible to reset the NATS connection under the NATS streaming connection at this time.  NATS streaming handles reconnections - the streaming server will redeliver any messages you may have missed while the underlying NATS client has been attempting to reconnect.

It is a different story when the underlying NATS connectio

[2017-01-01 09:30] zshamrock commented on #40
Thank you, @ColinSullivan1, for clarifying NATS streaming client internals.
Will take a look into `onClose` callback.

[2017-01-01 09:30] #40 closed

[2017-01-03 16:42] ColinSullivan1 commented on #41
@zshamrock ,  I'll be curious to see if upgrading solves your problem.  This could very well be a race condition of sorts.  @mcqueary, any thoughts on this issue?

[2017-01-05 20:58] mcqueary opened #43 "Remove SubscriptionCloseRequest protocol"
_From @mcqueary on December 6, 2016 22:47_

See https://github.com/nats-io/go-nats-streaming/pull/123.

_Copied from original issue: nats-io/java-nats#90_

[2017-01-06 18:46] zshamrock commented on #41
This was starting to happen more often. Any ideas on possible cause?

[2017-01-06 20:41] kozlovic commented on #41
@zshamrock @mcqueary My guess is that an uncaught exception happens in the `java.util.Timer` main loop that causes it to stop and prevent any new timer scheduling. Since `processAckTimeout()` is the only function that seems to be invoked from `ackTimer`, I would ensure that this function has a `try{} catch(Throwable){}` (and log the exception caught) but never let an exception go through otherwise

[2017-01-06 20:57] zshamrock commented on #41
Also I see a lot of the following in the NATS streaming itself:

[code]

Not sure if it is normal/expected, or whether it is due to misbehaving Java client.

[2017-01-06 20:59] zshamrock commented on #41
Also @kozlovic I have not looked yet into the internals of the implementation of the Java client, but should we use `Executor` instead of `java.util.Timer` for the scheduling? Again, don't know the exact use case, but it sounds like `Executor` suits better for this kind of things.

[2017-01-06 21:00] kozlovic commented on #41
@zshamrock That's a trace that says that the server is ack'ing back a published message (with given guid) on the give subject. So as long as you are publishing messages, this is normal ;-)

[2017-01-06 21:02] zshamrock commented on #41
@kozlovic do you know what could be cause of

Is it an issue in the `java.util.Timer` itself, or the way it was used, or something else?

[2017-01-06 21:12] zshamrock commented on #41
Ok, so indeed looks like some exception is happening in `processAckTimeout` which makes timer to be canceled. Then the question what kind of the exception, why, and is it safe to ignore it, i.e. will it affect the communication with the server?

[2017-01-06 21:14] kozlovic commented on #41
This is a pitfall of `java.util.Timer`. If the task invoked throws an exception, it will kill the timer's thread, so no more timer tasks can be executed nor scheduled. For instance, in the AckHandler callback that you provide to the publish call, if your code throws a `RuntimeException` for instance, then you should see this exception pop-up at the next publish.

[2017-01-07 14:01] zshamrock commented on #41
@kozlovic @mcqueary are you planning to some work in this direction today or tomorrow? If no, then I will try to comment the PR, to wrap `processAckTimeout` into `try/catch`, not ideal, but probably better than nothing for now. If this is considered as an appropriate short term fix?

[2017-01-08 17:06] zshamrock opened #44 "Integration tests against latest 0.3.6 version of the server"
I will submit the PR in a moment. Create the issue just to link PR to it.

[2017-01-08 17:25] zshamrock opened #46 "Should travis build run integration tests as well"
Currently it looks like, Travis build runs only unit tests, which is good, but probably not good enough.

Should Travis also run by default and integration tests as well?

[2017-01-17 22:55] #41 closed

[2017-01-19 20:47] mcqueary commented on #46
Yes, that's always been the intent. Look for this change in the near future.

[2017-01-19 20:48] mcqueary commented on #44
Closed with #48 and #49

[2017-01-19 20:48] #44 closed

[2017-01-19 20:50] #43 closed

[2017-03-14 23:01] ccassar commented on #40
@ColinSullivan1

Do subscriptions have to be replayed after the NATS streaming connection is recreated? i.e.  do we need to reissue QueueSubscribe calls post reconnect?

[2017-03-15 16:01] ColinSullivan1 commented on #40
@ccassar Not necessarily.  You are correct in that subscriptions information is retained with the server - so long as the subscription remains active (has not been closed), regardless of store type, in the case of interruption of service the server will detect that messages it has sent have not been acknowledged, and will resend them.

If you are using memory mode, so long as the streaming server

[2017-03-15 19:25] ccassar commented on #40
Thanks @ColinSullivan1 . The case I was experimenting with is the one where we lose the NATS streaming server. In that case, and while using memory mode, and where the underlying NATS server connections are unaffected, it is not clear there is any signal a client can trigger off in order to resubscribe.

[2017-03-15 19:30] kozlovic commented on #40
@ccassar When using a Streaming server with memory store, after the server is restarted, all existing clients will start getting timeout errors on all their requests: publishing messages, creating subscriptions, closing things, etc... because the Server with memory store uses unique generated internal subjects to communicate with its clients.
You are correct that if you lose only the server, you m

[2017-03-22 13:58] laugimethods opened #51 "SubscriptionOptions$Builder should be Serializable"
To avoid `Exception during serialization: java.io.NotSerializableException: io.nats.stan.SubscriptionOptions$Builder`, `io.nats.stan.SubscriptionOptions$Builder` should be serializable (as well as `io.nats.stan.SubscriptionOptions`, which might impact other projects).

See https://github.com/Logimethods/nats-connector-spark/pull/3 .

[2017-03-24 19:26] mcqueary commented on #51
Laurent, thanks for raising this issue. Definitely an oversight on my part. I'll fix.

[2017-04-05 16:17] laugimethods commented on #20
Maybe (?), make use of https://github.com/square/wire instead of Google Protocol Buffers?

In https://github.com/bigdatagenomics/mango/issues/276 :

https://github.com/heuermh/phenopacket-protobuf
The code generated by Google's stuff is pretty bad (at least at version 3.0.0-beta-3 as used there) compared to what the https://github.com/square/wire library generates; I'm not sure about version compa

[2017-04-11 16:53] ColinSullivan1 commented on #51
@laugimethods , Apologies for delay.

First, it's great to see NATS streaming being added to the spark connector!

I'd like to step back and ask - why do you need SubscriptionOptions and/or its builder to be serializable?  While java serialization is robust, it can affect other projects as you mentioned, can introduce compatibility issues, and we strongly prefer to keep the NATS streaming API as s

[2017-04-11 17:43] laugimethods commented on #51
@ColinSullivan1, the Spark "code" (could be Java or Scala) - including the configuration of the subscription to NATS - is not run locally, but sent to the Spark Workers to be executed remotely (and therefore needs to be serializable).

We would like to be able to use the Spark to NATS connector that way:
[code]
We might implement the `.withSubscriptionOptionsBuilder(optsBuilder)` so that this conf

[2017-04-11 22:42] ColinSullivan1 commented on #51
@laugimethods , I can see how you could use this.  However, at this time I feel its best to stick with the NATS tenet of simplicity and leave it up to the application/user to serialize and pass configuration around.  It looks like you have a way to do this in the PR you mentioned above.

I realize this isn't ideal for you, but on our side I'm concerned this could create issues for us in the future

[2017-04-12 14:14] laugimethods commented on #51
@ColinSullivan1, I take note of your answer as I understand that you don't want to take any compatibility risk.

However, you should make sure in the next main version that all the classes that can be considered as configuration are serializable since it is potentially a requirement in any distributed environment (like Hadoop, Akka actors, etc.).

In the meantime, could you move to `protected` the

[2017-04-18 18:12] ColinSullivan1 commented on #51
@laugimethods ,  I'd rather make the options serializable than expose that constructor right now.  ;)  I'll take this up with the team, and get back to you.  We are anticipating some internal changes to the client, and will see if serialization fits moving forward.  I'll get back to you.

Thanks,
Colin

[2017-04-26 16:09] sachinwalia2k8 opened #52 "Integration with Spring"
Spring  supports the notion of MessageListener with AMQP/Kafka/JMS where you can define the concurrent instances that will be created by container as a recipient of messages from Queue.

I am trying to understand how similar thing is possible with Nats Streaming Java API.

What I could gather from documentation is as below (Please correct if I am mistaken here):
- Inject ConnectionFactory (seems a

[2017-05-01 18:49] ColinSullivan1 commented on #52
@sachinwalia2k8 , Thank you for using NATS!  To answer your questions:

One approach might be to have more than one subscription.  You can create multiple subscriptions on the same subject, and your application can restrict the number of subscriptions.  Since message listeners and subscriptions have a 1:1 relationship, this may be a cleaner way for you to control message listener instances.

Yes,

[2017-05-02 16:48] sachinwalia2k8 commented on #52
Thanks @ColinSullivan1 for your response. So if we follow this strategy then one way to achieve this would be to spawn threads from within listener itself. Since creating on-demand thread in java is expensive so I guess bootstrapping a thread pool during startup could be one strategy to reduce the latency. So at this time it sounds like listener could be envisaged as a control plane for launching

[2017-05-02 17:12] ColinSullivan1 commented on #52
@sachinwalia2k8 , absolutely, happy to help.  What you described sounds good; I don't see any concurrency issues.

One thing to consider is manually acknowledging messages since you are handing them off to another thread.  An example of using `setManualAcks(true)` to do this can be found [here](https://github.com/nats-io/java-nats-streaming#message-acknowledgements-and-redelivery).

Please let us

[2017-05-02 22:41] ColinSullivan1 commented on #20
Fixed with #21.  Thank you for finding and fixing this issue.

[2017-05-02 22:41] #20 closed

[2017-05-04 15:02] zshamrock opened #54 "Any plans for the new release?"
Hi, guys, the last 0.4.1 version was released on November 2016, so almost 8 months ago. Any plans for the new release in near future?

[2017-05-04 20:39] jhernandezme commented on #54
Wondering the same thing.

[2017-05-06 17:11] sachinwalia2k8 commented on #52
Thanks @ColinSullivan1 I am going to try this approach today. My project has mix of both Go and Java based services that needs to intercommunicate. From Go it is fairly straightforward but I wasn't sure the right approach on the Java side.

[2017-05-08 20:28] ColinSullivan1 commented on #54
@zshamrock , @jhernandezme , Thank you for asking - it has been awhile.  We're currently evaluating what should go into a new release now, and will let you know soon.

[2017-05-17 22:08] laugimethods commented on #51
Had been solved by https://github.com/nats-io/java-nats-streaming/pull/56

[2017-05-17 22:08] #51 closed

[2017-05-24 15:41] zshamrock opened #58 "DEFAULT_MAX_PUB_ACKS_IN_FLIGHT has wrong value"
In the `NatsStreaming` class `DEFAULT_MAX_PUB_ACKS_IN_FLIGHT` is defined as the following:

[code]

where `^` is the XOR (not power function), and so results in value `12` and not the expected `16384`.

Instead `1 << 14` could be used instead or just simply the value itself.

[2017-05-25 19:41] ColinSullivan1 commented on #58
Resolved by #59.

[2017-05-25 19:41] #58 closed

[2017-05-31 20:10] zshamrock commented on #54
Maybe when it is released also to mention with with NATS streaming server it is compatible, as it looks like the client and the server are developing at the different speed, and it is not clear whether the latest client works with the latest server release.

Probably the same applies for the NATS (not streaming) too.

[2017-05-31 20:19] ColinSullivan1 commented on #54
@zshamrock , Absolutely.  At this point clients should work with any version of the NATS streaming server (and NATS server), although some older clients may not be able to take advantage of newer features in the server.  If there is breaking change, it will be considered a bug unless otherwise noted.

[2017-05-31 20:21] zshamrock commented on #54
Great! Good to know.

[2017-08-03 16:56] schicks opened #61 "Java 7 support"
I'm trying to use this to build a connector between a Java 7 application and the rest of my tools communicating using nats. However, building my code on java 7 throws `unsupported major/minor version 52`. How difficult would it be to support use in Java 7?

[2017-08-08 21:35] ColinSullivan1 commented on #52
Closing as part of housekeeping.  If this is still an issue, please reopen this.

[2017-08-08 21:35] #52 closed

[2017-08-08 21:37] #11 closed

[2017-08-10 14:05] jebbench opened #62 "[Documentation] Add more detailed explanations and examples of the driver features"
I have found the following to be missing from the documentation:

- How to create a connection, the existing documentation simply states:
[code]
   but doesn't mention how to set the host, port, username or password.

[2017-08-31 19:47] ColinSullivan1 commented on #61
@schicks , thank you for raising this issue.  We'll look into it.

[2017-09-01 18:31] ColinSullivan1 commented on #62
@jebbench , thanks for raising this!  We do need to clear up the documentation.

[2017-09-22 18:07] ColinSullivan1 commented on #62
Noting another user has requested this.

[2017-09-26 17:55] eigood opened #64 "The latest SNAPSHOT.jar is from May, and doesn't include the most recent MR from Sept. 7."

[2017-09-29 17:10] ajglenn opened #65 "Slowness when publishing to multiple subjects"
I have been testing with nats streaming v0.4.0 with java client v0.4.1 and found some odd behavior when publishing data to multiple subjects.  Our application works a stream of data that is published to nats streaming being backed by file(s).  We have implement the slice file script so to gain control of those files and perform additional processing.

The odd behavior happens when we are sending a

[2017-10-02 15:36] sachinwalia2k8 commented on #64
I saw that too and unfortunately had to resort to create my own local build.
To the authors if you could please update the release version as well as the documentation then it'd be awesome. Also please publish a link to javadoc as well.

[2017-10-03 15:13] ColinSullivan1 commented on #64
@sachinwalia2k8 , @eigood , thank you for raising this issue.  We are overdue for a snapshot and a release, and will work on this.  Stay tuned.

[2017-10-03 15:16] ColinSullivan1 commented on #65
@ajglenn , how many subjects are in publishing to?

[2017-10-03 16:52] ColinSullivan1 commented on #64
I've updated the most recent snapshot.

[2017-10-04 20:34] ajglenn commented on #65
In our test we were publishing to about 12 subjects.

[2017-10-12 11:14] jebbench opened #67 "Driver doesn't recover after NATs goes away"
If NATs is unreachable for any reason the driver does not recover.

Using `0.5.0-SNAPSHOT`.

[code]

[code]

To replicate:

Create an application that emits messages to NATs and run it.
Allow it connect to NATs and start emitting messages.
Kill NATS.
The application will emit `java.lang.IllegalStateException: nats: connection closed`.
Restart NATS.
The application will continue to emit `java.lang.

[2017-10-13 15:57] ColinSullivan1 opened #69 "Document connection creation"
Include:
* Examples
* Recommended practices
* Potential pitfalls

[2017-10-13 18:26] ColinSullivan1 commented on #67
@jebbench , this is because the wrapped NATS connection underneath the java-nats-streaming API has been closed.  At this point, the best approach is to clear up your streaming connection and recreate it to pick up where you left off.  It's best to think of NATS streaming as a layer above NATS, where it creates a basic NATS connection for you.  This behavior can be overridden.

To override connecti

[2017-10-16 12:12] jebbench opened #70 "Providing an incorrect cluster id results in a timeout exception"
Creating a NATs Streaming connection using an incorrect cluster id will result in a timeout exception.

[code]

This is a little misleading - I spent a couple of hours today tying to figure out why my connect was timing out when it was just a typo in my config.

A "Incorrect cluster id." message would be very helpful.

[2017-10-17 15:15] ColinSullivan1 commented on #70
@jebbench , thank you for raising this.  I can understand how this could be confusing in the case you described.  While the error is correct, we can add troubleshooting documentation around this case.

Related to #69

[2017-10-17 15:20] ColinSullivan1 commented on #65
@ajglenn , thank you.  This is could be behavior on the server side, but is something we'll need to check out.

[2017-10-17 15:31] jebbench commented on #67
We've worked around this by wrapping the NATs streaming connection in our own wrapper that will reconnect, retry publish calls and recreate subscriptions if the disconnect callback gets called - this seems to be working (but it would be nice of the driver itself was able to do so for us).

[2017-10-17 18:18] ColinSullivan1 commented on #67
The underlying NATS connection, if configured to do so, can attempt to continually reconnect saving you from having to recreate subscriptions.  However, it won't retry outstanding published messages - a nice addition in your wrapper.

[2017-11-02 12:56] jebbench opened #73 "Blank username and password causes ConcurrentModificationException"
When creating a connection to a secure NATs cluster and forgetting to provide a username and password we get a ConcurrentModificationException.

Our ocnfiguration:
clientId: "myhost-dev-646597838-fx82p"
clusterId: "my-cluster-id"
password: ""
username: ""
secure: true
servers: ["nats://my-cluster.nats.cloud:4222","nats://my-cluster.nats.cloud:4222"]

Client driver version is 0.5.0.

[code]

[2017-11-14 20:00] ColinSullivan1 commented on #73
Thank you for letting us know, we'll take a look.

[2017-12-25 05:19] boymaas opened #74 "Durable subscriptions"
It is a wonderful feature which saves time if you properly understand them. I made the assumption that durable meant only the position not all settings such as MaxInFlight etc.

This was not clearly reflected in the documentation, also the fact you have to do an unsubscribe to clear the state of the durable subscription. It's an important detail which could save a lot of time for a lot of people w

[2017-12-27 12:52] Nargarnd opened #75 "Error on build"
I'm trying to build java-nats-streaming on my Windows as it's specified on the installation section, but i'm getting an error on the build process.
There is a log attached to this message with the complete error.

[log.txt](https://github.com/nats-io/java-nats-streaming/files/1589046/log.txt)

[2017-12-27 19:33] ColinSullivan1 commented on #75
@Nargarnd , thank you for raising this.  The source looks to be building, but there are errors trying to download the NATS streaming server for testing.  We'll take a look.

[2017-12-27 22:32] ColinSullivan1 commented on #75
@Nargarnd , while we resolve this, a workaround is to install the NATS streaming server manually (or build it) and ensure it is in your `%PATH%`.  A link to download the windows binaries can be found [here](https://github.com/nats-io/nats-streaming-server/releases/download/v0.7.0/nats-streaming-server-v0.7.0-windows-amd64.zip).

[2017-12-29 11:04] Nargarnd opened #76 "StreamingConnectionFactory is not visible"
It's me again, sorry for been a pain in the ass, but after resolving my "Error on build " problem I have encounter a new obstacle in my programming duties.

I have added java-nats-streaming to my pom.xml and configure it to use Snapshots, as explained in the Installation section, here you can see the code I mentioned:

pom.xml:
...

`        <dependency>
            <groupId>io.nats</groupId>

[2017-12-29 20:07] ColinSullivan1 commented on #76
@Nargarnd , you aren't being a pain, not at all; and apologies for the inconvenience.  You aren't the first to run into this.  Check out https://github.com/nats-io/java-nats-streaming/pull/63 - the class should be public in master branch.

Until the next release, you can use the `NatsStreaming.connect(clusterId, clientId, options)` API to connect.  Some example usage can be found [here](https://gi

[2018-01-02 11:36] Nargarnd commented on #76
Thank you Colin, I've been able to create a StreamingConnection that way and now I have an small java program which creates subscribers for a specific subject that is more or less complete, but now I'm having another problem related to the StreamingConnection.

When the conection is been created with the NatsStreaming.connect(clusterId, clientId, options) method I get this log in the console:

12:

[2018-01-12 23:58] #64 closed

[2018-01-15 19:59] ColinSullivan1 commented on #74
@boymaas , thank you for the feedback.  We take this into account when we update the documentation.

[2018-01-15 20:04] ColinSullivan1 commented on #76
@Nargarnd , Are the cluster-ids being used for your client and server the same?

[2018-01-19 21:53] tul opened #78 "can't find sources for java-nats 1.1-SNAPSHOT"
java-nats-streaming 0.50 uses jnats 1.1-SNAPSHOT, but this appears to be a release which has no source artefacts on maven, and the java-nats repo doesn't have a corresponding git tag for this either.

Apologies if I've missed something, but it would be super handy to be able to get the exact source for released jars.

Thx

[2018-01-24 14:12] tul opened #79 "stan StreamingConnection.publish() hangs forever in some cases"
We've hit a problem a couple of times recently where our servers have become permanently blocked when trying to publish to STAN.

Specifically, publishes are hanging when trying to put in the BlockingQueue which is utilised to control the number of outstanding acks:

StreamingConnectionImpl.java:348

[code]

If we tear down the STAN connection by completely disconnecting and reconnecting from the

[2018-01-25 15:49] mctully commented on #79
I have made some fixes in a fork of this lib:

1. When closing a streaming connection, clear the pubAcks channel, unblocking any publishes that were waiting on it, and allowing their threads to progress.

2. You can now set an optional "publish timeout" in the options when making your streaming connection. If `publish()` has to block for longer than this (due to max inflight limit) it will throw a

[2018-01-26 10:34] Aiqbal1234 opened #81 "Nats throwing a concurrent modification error"
im getting the following exception, I can see how this would happen unless the connect() method is being called twice?

java.util.ConcurrentModificationException
at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:907)
at java.util.ArrayList$Itr.next(ArrayList.java:857)
at io.nats.client.ConnectionImpl.connect(ConnectionImpl.java:407)

Possibly updating the srvpool list (setupServerPo

[2018-01-29 11:47] mctully commented on #79
On a related note, we encountered an issue on the code without my patch which might be worth mentioning.

When a STAN `publish()` is not acknowledged in time by the server, it will call the user supplied ack handler to let the user know the publish failed. If that callback directly calls `publish()` (e.g. to resubmit the lost message) then it has the potential to cause an implicit deadlock in the

[2018-03-19 03:01] sachinwalia2k8 opened #83 "Request timing out with NATS Streaming 0.9"
I am getting request timed out when I am using the current Java library with NATS Streaming 0.9.

This is the exception trace:

[code]
This is the code I am using from the example

[code]

[2018-03-19 05:33] sachinwalia2k8 commented on #83
Upon spending some time with debugger on I find the following piece of code that is causing the issue.

This is part of **io.nats.client.ConnectionImpl**.

In particular

                **response = (Message)queue.poll(timeout, unit);**
If nothing is added to this Blocking Queue than it'll always return head as null so the exception thrown is valid.

Can someone from Nats team please confirm this

[2018-03-19 05:54] sachinwalia2k8 commented on #83
Turned out to be my mistake where clusterId was incorrectly specified. Closing ticket.

[2018-03-19 05:54] #83 closed

[2018-03-19 15:00] zshamrock opened #84 "NATS streaming client doesn't publish the events received when the server was down"
Let me explain.

For the NATS client (not the streaming one) there are options (more precisely for the connection factory, but they are later passed as the `Options` to the client instance):

[code]

The one is in interest of this discussion is `messaging.connection.reconnect.buf.size`, which allows the client to keep the messages, until the connection to the server is re-established.

I've run sm

[2018-03-19 16:24] zshamrock commented on #67
So how this relates to #84? Because what I see using the default underlying NATS connection reconnection works fine for me (although I am using `0.4.0` version). Only thing I don't see is that there is no republishing. Not sure whether it should be, as there is one in the NATS client itself.

Another question, @ColinSullivan1 you've mentioned

How to do that?

[2018-03-19 16:26] zshamrock commented on #67
Also @jebbench how you do the republishing in your wrapper, i.e. you keep the buffer of the unsent messages, and retry them when the connection is re-established?

[2018-05-08 12:39] tkgreg opened #86 "NullPointerException on Subscription::close method"
I'm trying to play around with nats-streaming and I took an example from the readme but it throws a NullPointerException when I try to call `sub.close()`

[code]

[code]

Client version: 0.5.0
Server version: 0.9.2

[2018-07-23 16:50] tr8dr opened #89 "Max outgoing Ping count exceeded"
I have used NATS, but am new to NATS streaming server.   I have written a publisher, that on startup, publishes perhaps 100,000 messages almost immediately (some starting state for a consumer).   At startup there may not be any clients listening to the streaming server, however it has been configured to keep a backlog of messages over a certain period.

To my surprise, I receive an exception "Max

[2018-07-23 17:09] sasbury commented on #89
Background-wise, the issue is that the streaming server flushes messages, to make sure they got to the server. The flush call uses a Ping msg to the server, which the server responds with Pong, telling the client that the flush succeeded. In general the client library only wants to have a small number of pings in flight to the server (ie wait for a limited number of pongs), because if that gets ba

[2018-07-23 17:21] tr8dr commented on #89
I have been using the following snapshots, as the nats streaming was code incompatible with the latest NATS java release.

compile "io.nats:jnats:2.0.1-SNAPSHOT"
compile "io.nats:java-nats-streaming:2.0-SNAPSHOT"

Have not been able to get nats streaming to work correctly on the pubisher side.  (I have not had an issue with NATS itself, which I tried before moving to the streaming server).

[2018-07-23 17:30] sasbury commented on #89
Hm...

So the publish call you are making should block until the flush returns, which should prevent lots of PINGs getting out there before a PONG comes back. The default max pings allowed is set to 2, which is pretty low, so if you were using threads maybe to publish the initial messages I could see how something could happen. Can you tell me a bit more about the publisher?

[2018-07-23 18:05] tr8dr commented on #89
The publisher is using multiple threads.  I saw that the API does use a concurrent queue so thought this would be fine.   I could synchronize, avoiding multiple incoming overlapping messages, if you think this would help.

[2018-07-23 18:21] sasbury commented on #89
The issue is more that the publishers are going faster than the flush's can get through. I am not sure of a good general solution in the library (although open to suggestions.) In the short term you could either:

* synchronize that initial herd of messages (in normal mode i think you will be ok, as the messages flow quickly.)
* adjust the number of max outgoing pings allowed by the connection. Th

[2018-07-23 18:36] tr8dr commented on #89
I am not sure why the streaming server would care about bursty activity (which happens at the start of my connection and randomly thereafter).  I guess more fundamentally, what is the ping / pong used for.  Is this a 1:1 ack for each message sent?   For throughput wouldn't it make sense to:

1. send as many messages downstream as possible (without acks)
2. keep messages sent on client side until c

[2018-07-23 18:38] sasbury commented on #89
right now it ping/pongs each message to insure it gets to the gnatsd, I will look at what other language clients do (i just adopted this one) and see if we can replicate something faster.

[2018-07-23 18:40] tr8dr commented on #89
Can I make publisher synchronous or partially synchronous (as opposed to using futures / running out of pending pongs)?   Perhaps synchronous after being backlogged by K pongs?

[2018-07-23 18:43] sasbury commented on #89
it is basically sync now, because of the flush. You can set the max outgoing pongs which would let more of them go before the max is exceeded (but you can't reset it after that, which is why I don't like that as a long term plan).

[2018-07-23 20:03] sasbury commented on #89
talked to some of the other members of the team, i think i can improve on this and remove the ping/pong. will update when I get a fix in.

[2018-07-23 20:08] tr8dr commented on #89
thanks

[2018-07-24 05:09] sasbury commented on #89
Ok, that flush was excessive. I looked at it more and it was overkill from my translation to 2.0 of the client library.  I removed the flush call which should fix the max ping problem for you.

Of course I forgot to put Fixes in my commit, but should be fixed as of cfe953deb188743490b2106b55ac35e7ad8c9d2e. Travis is running now, and it should update the snapshot. Leaving this issue open until the

[2018-07-24 23:30] tr8dr opened #90 "NATS streaming stable versions"
I am new to NATS streaming server (posted a prior report on Max pings exceeded). I am wondering, is there a version that is production ready?   Should I be using some specific version combination of NATS and NATS streaming server java to get production-level reliable behavior.  Many thanks to one of the authors for adjusting the Max ping issue yesterday, however I am still not able to read the cha

[2018-07-24 23:46] #90 closed

[2018-07-24 23:50] tr8dr commented on #89
Thanks for the adjustment on the branch.  Perhaps off topic here, In terms of getting a stable NATS streaming server (production or near production ready) what version combination of NATS and NATS streaming server java should I be using?

[2018-07-25 07:05] sasbury commented on #89
The 2.0.0 version of NATS is new, but is heavily tested and appears very fast and stable so far. As with any recent release it is hard to guarantee anything. The older release had a number of outstanding issues, so I would lean toward the new one. (I am planning a 2.0.1 this week with a couple fixes although none are stability related.)

For streaming, the 2.0.0 version (updated to match the new c

[2018-07-27 06:35] sasbury commented on #89
Should be fixed in 2.0.1 (but i forgot to put in the fix comment)

[2018-07-27 06:35] #89 closed

[2018-07-27 06:36] sasbury commented on #54
Released 2.0.1 today - the major version change is to account for the dependency on 2.0 of the client library which had breaking changes, and may effect some exception types in the streaming library.

[2018-07-27 06:36] #54 closed

[2018-07-27 06:37] sasbury commented on #86
Haven't had a chance to test this on 2.0.1, if you beat me please update this issue.

[2018-07-27 06:39] sasbury commented on #84
I dont have a unit test for this, i don't think, but one issue may be the ack timeout. If the streaming library doesn't get an ack in time it will "fail" the publish. During reconnect that could result in something weird I suspect.

Can you try this on 2.0.1, and I will leave this open for comments and to remind me to build some tests around it.

[2018-07-27 06:41] sasbury commented on #79
Can you test your patch on 2.0.1, i tried to do minimal work to get us on the new nats client, so i doubt i fixed this issue. Leaving the issue open for testing/work.

[2018-07-27 06:42] sasbury commented on #78
2.0.1 is out, and the sources are there. I am going to close, but reopen if we need 1.1 as well for some reason.

[2018-07-27 06:42] #78 closed

[2018-07-27 06:43] sasbury commented on #75
Can you please retry with 2.0.1, we moved from Maven to Gradle which hopefully fixed this issue. I will leave it open just in case.

[2018-08-06 08:59] caskolkm opened #92 "Protobuf libraries are vulnerable for CVE-2015-5237"
Our Owasp dependency checkers complains about java-nats-streaming because the google protobuf library is vulnerable for: https://nvd.nist.gov/vuln/detail/CVE-2015-5237

`protobuf-java-3.0.0-beta-1.jar (cpe:/a:google:protobuf:3.0.0, com.google.protobuf:protobuf-java:3.0.0-beta-1) : CVE-2015-5237`

The latest release of protobuf and protoc is 3.6.1.

[2018-08-06 09:03] caskolkm commented on #92
`protobuf-java-3.0.0-beta-1.jar (cpe:/a:google:protobuf:3.0.0, com.google.protobuf:protobuf-java:3.0.0-beta-1) : CVE-2015-5237`

[2018-08-06 17:04] sasbury commented on #92
Eek, not sure how that old version creeped in. Let me take a look, and rerun the tests at 3.6+

[2018-08-06 18:18] sasbury commented on #92
I am planning to push 2.0.2 in a week or two, should be on the maven snapshots shortly.

[2018-08-07 05:34] caskolkm commented on #92
Awesome, looking forward to see the new release :)

[2018-08-07 09:55] reinkrul opened #93 "Default ErrorListener on the NATS connection if no NATS connection is configured"
By default a NatsConnection does not have an ErrorListener configured. Also, in java-nats-streaming it's also not to configure an ErrorListener apart from configuring a NatsConnection yourself. This causes a problem when following the example code: if an unhandled exception is thrown in onMessage, it gets eaten by the java-nats-streaming and jnats API. From the developer perspective, the message i

[2018-08-08 08:01] fajran opened #94 "Calling Subscription#close() will unsubscribe/remove durable"
The documentation of `Subscription#close()` [says](https://github.com/nats-io/java-nats-streaming/blob/master/src/main/java/io/nats/streaming/Subscription.java#L61) the following

However, [the implementation](https://github.com/nats-io/java-nats-streaming/blob/master/src/main/java/io/nats/streaming/SubscriptionImpl.java#L107) does following

[code]

is that a bug?

[2018-08-09 18:25] sasbury commented on #94
Agreed this is broken. I am working on a fix and will update shortly.

I was struggling with the fact that changing the code could break existing libraries, but I think the difference is important and am changing the code to match the doc.

[2018-08-09 18:32] sasbury commented on #94
Assuming all is well with travis, I will release this with 2.0.2 in the next week or so.

[2018-08-13 04:08] #92 closed

[2018-08-13 04:08] #94 closed

[2018-08-13 04:27] sasbury commented on #93
I missed this on 2.0.2, I will take a look for the next release.

[2018-08-21 17:59] sasbury commented on #93
I am hesitant to write to logs from within the library. But I agree there is something here.

I am working on a fix where you can pass error and connection handlers to the Streaming Connection options, and those pass down to the Nats connection. This will make it easier to put your own error listener that logs. Once I get it tested and checked in, let me know what you think.

[2018-08-21 19:03] sasbury commented on #86
I got a chance to try this code on 2.0.2 and don't see any exceptions. Can you give it a try when you get a chance. Closing for now, reopen if you can reproduce.

[2018-08-21 19:03] #86 closed

[2018-08-21 19:10] ColinSullivan1 commented on #93
For some history, we once had SLF4J log support in the NATS java clients, but in the interest of simplicity and reducing third party dependencies, we removed it.  I do agree that swallowing exceptions can be problematic for application developers, but at the same time, swallowing exceptions allows the NATS libraries to be resilient.

+1 for the option to to surface uncaught application code except

[2018-08-22 08:27] WizardOfArc opened #95 "Provide access to the getAckInbox() method in the Subscription Interface"
In order to allow for batch acking please provide access to the `getAckInbox()` method - which is in `SubscriptionImpl` but not the interface Subscription.

An alternative would be to provide a mechanism by which one can ack multiple messages by their sequence IDs.

USE CASE:
I have a source (sources) that is/are writing one message at a time to NATS.  Then I have a consumer that is reading these

[2018-08-22 20:36] sasbury commented on #73
Are you still seeing this in the latest release?

[2018-08-29 11:43] shoshykr opened #96 "special SubscriptionOptions for first connection"
Hi,

I am using Durable Subscriptions for get messages from the last position in the stream of messages. but I want to have an indicate if it is the first connection, because in the first connection I want to get all older messages (with .deliverAllAvailable()),
for now I see that you have tow options -
1. Getting all messages on each service start up
2. Start for the last position , by durable na

[2018-08-29 22:53] kozlovic commented on #96
For durable subscriptions, the start option (such as `deliverAllAvailable()`) is used by the server only when the durable is created for the first time.

So say that you want to receive messages from the beginning of the channel, you would use the `deliverAllAvailable()` option. You don't have to change that option when your application restarts.

If the durable interest is still registered in the

[2018-09-13 08:45] tkgreg opened #97 "Can I extend timeout ack for a 1 hour or more?"
I have next case:
I received a message and I want to start processing it. Processing can take from 1 minute to 1 hour, Is it possible to extend an ack timeout?

[2018-09-13 17:34] kozlovic commented on #97
You cannot do this on a per-message basis. You can set the AckWait only when creating the subscription.

[2018-09-14 21:44] sasbury opened #98 "Exception in callback blocks auto-ack"
If an exception is thrown in the message callback autoack can't happen because we aren't catching it.

[2018-09-14 22:29] #93 closed

[2018-09-14 22:29] #98 closed

[2018-09-17 00:14] sasbury opened #100 "Message dispatcher shares thread with ack/heartbeat"
Callbacks for handling messages shouldn't delay heartbeat and ack responses.

[2018-09-17 18:28] sasbury commented on #97
Closing - but let us know if you have any followups.

[2018-09-17 18:28] #97 closed

[2018-09-18 19:36] #100 closed

[2018-09-19 15:18] mosche opened #102 "Closing a Subscription fails with a NoSuchMethodError"
I can consistently reproduce this issue in the test application below that only depends on `java-nats-streaming` for all the latest versions including 2.1.0.

[code]
**Test code**
[code]

Besides the issue above, it isn't entirely clear to me if a durable subscription should be closed (without removing the subscription obviously) as a best practice when a client disconnects / terminates. Or if thi

[2018-09-19 16:42] sasbury commented on #102
What version of the nats library and jdk are you using?

[2018-09-19 18:19] mosche commented on #102
I'm using `java-nats-streaming` 2.1.0, but had the same issue with 2.0.2.

Apparently there's a problem with dependencies in the pom:
https://repo1.maven.org/maven2/io/nats/java-nats-streaming/2.1.0/java-nats-streaming-2.1.0.pom

[code]

The jnats minimum requirement seems to be binary incompatible.

`Maven` resolves this alright using the latest version anyway.
However, using `sbt`, it is buildin

[2018-09-19 19:39] sasbury commented on #102
I will update the pom when i get a chance. Thanks for figure that out.

[2018-09-19 22:38] sasbury opened #104 "Move jar versions to variable in gradle file"

[2018-09-19 22:39] #102 closed

[2018-09-20 09:13] mosche commented on #102
Thanks for the quick fix :)

[2018-09-26 14:01] rasa-silva opened #105 "Remove guava dependency from build.gradle"
build.gradle declares guava as a dependency but it doesn't seem to be used anywhere.

Just remove the line:
`compile 'com.google.guava:guava:18.0'`
from build.gradle

[2018-10-01 20:13] sasbury commented on #105
i will double check this and clean it up next week (trying to hit some deadlines but didn't want to appear to be ignoring this.)

[2018-10-22 13:28] seregaSLM opened #107 "Client can't reconnect with continuous TimeoutException"
Two instances of application work on the one server and connected to the same queue group. CPU is loaded on 90-95%. After some reconnects to the server after some slow consumer detected events one of the instance can't reconnect with infinite error:
[code]
I think that client can't receive pong response but why?

After restart instance can connect to the server successfully.

[2018-10-22 15:05] sasbury commented on #107
From the stack trace it looks like something is happening in the underlying client. Let me link this over there.

https://github.com/nats-io/java-nats/issues/186

[2018-10-22 15:22] #104 closed

[2018-10-22 15:22] #105 closed

[2018-10-22 20:28] sasbury commented on #107
which version of the libraries are you using, btw, i did do a fix for ping/pong recently.

[2018-10-22 20:37] seregaSLM commented on #107
Using the latest docker version of nats-streaming-server and client java-nats-streaming version 2.1.1. Using OS Debian 9.6. I saw in nats console, that the client connect and after some seconds connection closed and so infinite.
Thanks.

[2018-10-22 20:41] sasbury commented on #107
Which version of java-nats do you have, that is where i did a ping/pong fix (or maybe i broke it).

[2018-10-24 23:31] sasbury commented on #107
can you send me the gnatsd console with -DV? Nothing is jumping out at me in the code.

Also, are you using any special connect settings or is everything basically the default?

[2018-10-30 08:13] wanlinus opened #108 "Does the Java connected Nats Streaming cluster need to write all the server addresses"
Does the Java connected Nats Streaming cluster need to write all the server addresses?
java连接Nats Streaming集群需要书写全部的server地址吗?

[2018-10-30 15:17] sasbury commented on #108
The Java client needs to know about a NATS server that the streaming cluster is connected to. The NATS code can learn about servers from the first one they talk to, so you don't have to tell the client about all the servers, although connecting with a list is safer in case one is down.

The streaming client just uses NATS to talk to the streaming server, so the only thing you should need is the na

[2018-11-15 12:38] karthikraman22 commented on #84
I have the same problem too. The messages don't get sent to the server after the streaming server restart. I am using java client version 2.1.1

[2018-11-18 10:23] vanseverk opened #109 "Manual message ack is blocking and does not offer non-blocking ackhandler"
When calling the ack() method on Message the acknowledgement to the cluster will happen in a blocking way, through the natsConnection.

`sc.getNatsConnection().publish(ackSubject, ack.toByteArray());`

A non-blocking version next to it that offers an ackhandler to handle the ack's ack is preferable in some cases, to be able to make a full non-blocking pipeline.

I believe it should be possible to

[2018-11-18 11:05] vanseverk opened #110 "Building from sources in README.MD is for java-nats, not for java-nats-streaming"
`git clone https://github.com/nats-io/java-nats.git` should be `git clone https://github.com/nats-io/java-nats-streaming.git`

[2018-11-18 11:23] vanseverk opened #111 "java-nats-streaming can't be built using Gradle on fresh install due to missing signing properties set up from outside"
When syncing, following error occurs due to missing osshrUsername property:

`org.gradle.api.GradleScriptException: A problem occurred evaluating root project 'java-nats-streaming'.
	at org.gradle.groovy.scripts.internal.DefaultScriptRunnerFactory$ScriptRunnerImpl.run(DefaultScriptRunnerFactory.java:92)
Caused by: groovy.lang.MissingPropertyException: Could not get unknown property 'ossrhUsername'

[2018-11-18 11:27] vanseverk opened #112 "Can't build project through Gradle due to missing instructions on how to build protocol.proto"
After disabling the upload requirements that are cause of the problem in [issue 111](https://github.com/nats-io/java-nats-streaming/issues/111) there seem to be missing instructions on how to build the protocol.proto file. This causes missing io.nats.streaming.protobuf.* classes.

[2018-11-19 04:45] sasbury commented on #107
Don't worry about the log, i have one from another report, definitely something up with slow consumer handling.

[2018-11-20 17:07] protheusfr opened #113 "availability of SetConnectionLostHandler on Java driver"
Hello all,

Is the `SetConnectionLostHandler` option available on Java client like in Go one ?

[2018-11-20 17:45] sasbury commented on #113
The underlying nats connection has a ConnectionListener, you can set it on the Options for the streaming connection as well.

[2018-11-21 09:45] protheusfr commented on #113
Thank you @sasbury but I don't find any way to use it.
I've set the connection timeout :
[code]
But I don't understand how to specify the connection lost handler.

[2018-11-21 18:11] sasbury commented on #113
Ah, you have to use the connect method that takes options:

public static StreamingConnection connect(String clusterId, String clientId, Options opts)

Keep this open and i can add that to the connection factory as well, or if you want to do a PR that is cool too.

[2018-11-22 09:13] protheusfr commented on #113
Hmmm I'm sorry but `StreamingConnection` interface hasn't `connect` method (in my version 2.1.2).
The `StreamingConnectionImpl` has one and `StreamingConnectionImpl` can be instantiated with `options` and `options` can contain a `ConnectionListener`.
But it's not clear how to use it.

I guess I must check the connection status before each operation ?
like :
[code]

Is there no way to define at con

[2018-11-23 23:18] sasbury commented on #107
Fix is in the newest branch of the Java library, i am planning to release it next week and will fix this some issues in streaming as well and update it.

[2018-11-27 23:46] sasbury commented on #109
publish isn't blocking, so I am not sure what you are seeing happening. Publish will push the message onto an outgoing queue, but doesn't wait for it. Maybe if the PR isn't too big a pain you could send it and that will clarify, or just put the code in a comment for now.

[2018-11-28 11:43] guusdk opened #114 "ErrorListener invoked when closing connection."
When closing a Streaming Connection using `io.nats.streaming.StreamingConnection#close`, `io.nats.client.ErrorListener#exceptionOccurred` is invoked when an Error Listener has been registered. The following stack trace is reported:

    java.net.SocketException: Socket closed
        at java.net.SocketInputStream.socketRead0(Native Method)
        at java.net.SocketInputStream.socketRead(SocketInp

[2018-11-29 11:07] vanseverk commented on #109
It seems I did misunderstand the publish method as blocking in the cases where no explicit ackHandler is given, so it's not needed anymore. Thanks!

[2018-11-29 11:07] #109 closed

[2018-12-18 01:15] #107 closed

[2018-12-21 20:03] #110 closed

[2018-12-21 20:03] #111 closed

[2018-12-21 20:03] #112 closed

[2018-12-21 20:03] #113 closed

[2019-01-19 11:48] willowish opened #116 "Java NATS Streaming client is publishing messages when two of three nodes in NATS Streaming Server cluster are down"
Hi!
I'm facing  and issue with java-nats-streaming. I have created cluster of NATS Streaming, which contains 3 nodes. I have created 2 clients, one for publishing messages and another for reading them.
Scenario:
1) all 3 nodes are up
2) publisher starts to publish messages
3) subscriber is receiving messages
4) 2 of 3 nodes are going down
5) publisher is still sending messages (lets call them Down

[2019-01-23 21:46] kozlovic commented on #116
Your assumption is incorrect. If two out of the three nodes are down, there is a loss of leader in the cluster. Messages will not be handled and client library will receive either an explicit error (for instance server was trying to store but lost leadership) or simply timeout. It is responsibility for the user to decide what to do with error'ed published messages.

In cluster mode, since we use R

[2019-01-23 21:46] #116 closed

[2019-01-30 20:54] jpsilvagallino opened #117 "StreamingConnectionFactory.setNatsUrl does not support a list of comma separated servers"
Hi all,

In java-nats-streaming, I am trying to pass the addresses of all nodes in a servers cluster a list of comma-separated servers to the `StreamingConnectionFactory`. This approach is supported by both core NATS and the C# client, as described [in this entry](https://github.com/nats-io/nats-streaming-server/issues/675). However, I was not able to find the equivalent to `processUrlString(strin

[2019-01-31 13:15] jpsilvagallino commented on #117
Will do. Thanks @sasbury.

[2019-02-08 22:03] igoberman opened #118 "NATS streaming does not reconnect after NATS-Streaming server restart."
This may have been reported before, but I am having hard time reconnecting to the NATS server after I restart it. This is a very frustrating issue. You would think this should be first thing that should be tested, but apparently it does not seem to work. I have tried all sorts of configurations without luck.

My publisher and subscriber are below.
Start publisher and subscriber. Everything is fine

[2019-02-11 14:32] igoberman commented on #118
I found a workaround. Thanks.

[2019-02-11 14:32] #118 closed

[2019-02-13 19:27] sasbury opened #119 "StanBench bug with client id on multiple subscribers"
Line 186
                final StreamingConnection sc = NatsStreaming.connect(clusterId, clientId, opts);

should use workerClientId to make it unique

[2019-02-13 19:28] #75 closed

[2019-02-14 18:32] mariogoz commented on #96
I have a problem with the durable subscriptions, since I have a service that posts messages, and my subscriber is offline, when restarting it does not take the published messages, only those that occur at the moment

`private void getSuscribeChannelNotify(StreamingConnection sc) throws IOException, InterruptedException {
        try {
            sc.subscribe(natsChannel, new MessageHandler() {

[2019-02-14 21:15] kozlovic commented on #96
@mariogoz Are you saying that you miss the messages that were sent while the durable was offline and get only the messages that are published after the durable is restarted? If so, I suspect that the issue is due to the fact that you are not using the same client ID. The durable name is not enough. What makes the durable subscription is the combination of client ID and durable name: https://github

[2019-02-14 21:16] kozlovic commented on #96
@mariogoz .. and also make sure that you are not unsubscribing when your application exits, as it was the case for the original poster. Unsubscribe removes the interest in the server.

[2019-02-17 12:12] KORuL opened #120 "Android support API >= 19"
I'm trying to use the nats-streaming library, but it is written in Java 8, which does not allow using the Android API <26. This cuts off many android versions, everything below Android 8.0 - what to do in this situation if you need support for Android API> = 19

[2019-02-18 04:48] sasbury commented on #120
There is currently a pull request to alter the library to support < Java 8. https://github.com/nats-io/java-nats/pull/211 you can see from the discussion that it probably won't get merged into the master because it breaks existing apps, but it could form the basis of a streaming library with reduced requirements.

[2019-03-05 12:51] moleksyuk opened #121 "Protobuf released incompatible version"
Hi guys,

Due to dynamic versioning dependency to protobuf
https://github.com/nats-io/java-nats-streaming/blob/8c7793ee5c188cef726cdfa16249dc0b74b3fc25/build.gradle#L55

I've got issue:
[code]

Current version of protobuf: [3.7.0-rc1](https://mvnrepository.com/artifact/com.google.protobuf/protobuf-java)

P.S. Any plans to avoid dymaic versions for dependecies as it's a bad practice?

[2019-03-05 18:32] sasbury commented on #121
What version should we set it to, I will lock it down on the next release.

[2019-03-05 19:04] moleksyuk commented on #121
@sasbury works fine with version 3.6.1

[2019-03-26 21:08] sasbury commented on #61
Our plan is to stay on 8+, hopefully that is ok (since this bug got left behind).

[2019-03-26 21:08] #61 closed

[2019-03-26 21:09] sasbury commented on #120
I am open to someone forking and porting on top of https://nats.io/download/kedzie/nats-android/ but I don't think we should pull the main library back for that.

[2019-03-26 21:09] #120 closed

[2019-03-26 21:10] sasbury commented on #46
Current builder runs tests against streaming server, not sure if that is what was requested, but closing. Reopen if i missed something.

[2019-03-26 21:10] #46 closed

[2019-03-26 21:12] sasbury commented on #65
Closing, since we have moved many versions ahead of the report. Please reopen and let me know the latest numbers if you still see a problem.

[2019-03-26 21:12] #65 closed

[2019-03-26 21:14] sasbury commented on #67
We are treating streaming as a layer on top of nats, so there is no auto-reconnect in any of the libraries at the streaming level. I am looking at adding support for a disconnect callback, but the current library standard is to leave it up to the app to reconnect explicitely at the streaming level.

[2019-03-26 21:14] #67 closed

[2019-03-26 21:15] sasbury commented on #76
Closing since this is over a year old, please reopen and let me know if you are still having an issue.

[2019-03-26 21:15] #76 closed

[2019-03-26 21:16] #70 closed

[2019-03-26 21:17] sasbury commented on #22
This is an old one, do you still see it in the latest library? Going to close for now, sorry it got stuck during team transitions.

[2019-03-26 21:17] #22 closed

[2019-03-26 21:19] sasbury commented on #73
closing as out of date, let me know if you see something similar in the latest release.

[2019-03-26 21:19] #73 closed

[2019-03-26 21:20] sasbury commented on #81
Closing as out of date, let me know if yous ee something like this in the latest release.

[2019-03-26 21:20] #81 closed

[2019-03-26 21:22] sasbury commented on #117
Should be fixed with 2.4.2 in the java library.

[2019-03-26 21:22] #117 closed

[2019-03-26 21:22] sasbury commented on #114
This should be fixed in 2.4.2 of the underlying nats library.

[2019-03-26 21:22] #114 closed

[2019-03-26 23:43] sasbury commented on #84
ok, i read again now I think I may no what happened. The streaming library should have sent the messages, but the streaming library doesn't autoreconnect for subscriptions, so it is possible that the messages weren't received. Can you confirm this bug with nats-sub ">" that nothing went out.

Closing for now, but ok to reopen if you can confirm.

[2019-03-26 23:43] #84 closed

[2019-04-08 10:18] wanlinus opened #122 "How just receive the unreceived message?"
I just want to receive the unreceived message, deliverAllAvailable to receive all messages startWithLastReceived last message

[2019-04-08 14:33] aricart commented on #122
@wanlinus what you are looking for is a durable subscriber. See https://github.com/nats-io/java-nats-streaming#durable-subscriptions

[2019-04-08 17:29] sasbury commented on #79
Closing for now, please reopen if you reproduce on the latest version.

[2019-04-08 17:29] #79 closed

[2019-04-08 17:32] sasbury commented on #62
Closing this in favor of the larger issue. I did add a few docs.

[2019-04-08 17:32] #62 closed

[2019-04-09 02:01] wanlinus commented on #122
I want receive message is similar to use startWithLastReceived except the last received message

[2019-04-09 18:34] sasbury commented on #122
I don't understand the question? How is the durable with startWithLastReceived not what you need?

[2019-04-09 20:56] #121 closed

[2019-04-09 20:56] #95 closed

[2019-04-09 20:56] #119 closed

[2019-04-10 01:22] wanlinus commented on #122
startWithLastReceived will have one more message that I don't need

[2019-04-10 17:55] sasbury commented on #122
Let me make an example, to be sure I get what you mean...

Suppose the channel has A, B, C in it.

You want to subscribe to the channel and get no messages.

At some point a publisher puts D in the channel, making it A, B, C, D.

Your subscriber gets D.

Is this the scenario?

[2019-04-10 22:41] sasbury commented on #122
One option, that you may not have looked at, is setting the initial message with time or a time offset, this is different than using the "last received" as it will not send messages that went into the channel earlier.

[2019-05-16 08:56] cemremengu opened #126 "Queue Groups Support?"
What is the equivalent of queue groups for the java client specifically for the code:

https://github.com/nats-io/stan.go#queue-groups

[2019-05-16 13:25] aricart commented on #126
The method for a queue subscription has this signature:

`Subscription subscribe(String subject, String queue, MessageHandler cb)
            throws IOException, InterruptedException, TimeoutException;`

[2019-05-16 18:23] cemremengu commented on #126
That signature cannot be resolved for some reason:

[code]

Only available ones are:

`subscribe(String subject, String queue)`
`subscribe(String subject)`

[2019-05-16 18:26] cemremengu commented on #126
Nevermind, I needed to use streaming connection factory, apologies.

[2019-05-16 18:26] sasbury commented on #126
No worries, we are in the process of updating the doc to have more examples. Somehow this one slipped. The Java doc should have the right signatures.

[2019-05-16 19:03] #126 closed

[2019-06-17 09:10] xianghu1314 opened #127 "How i get this Connection timeout event???"
How i get this Connection timeout event???

[2019-06-17 18:51] sasbury commented on #127
The connection is synchronous, so it returns if it times out. There is an experimental async connect, is that the one you are asking about? The connection listener will tell you that you are connected or "disconnected". I think the disconnect should be fired for a timeout.

[2019-07-08 12:03] Manuri opened #128 "Usage of reply subject in io.nats.streaming.Message class"
AFAIU,
1. NATS Streaming server keeps the messages in the log regardless of the presence of a subscriber
2. When a publisher, publishes a message, it will get an Ack from the server.
3. When a subscriber receives a message, it will get acknowledge that to the server.

Also, it seems request-reply pattern is not meant to be implemented with NATS Streaming server.
(Please correct if any of the above

[2019-07-08 17:09] sasbury commented on #128
I talked to the streaming maintainer. That field is a left over from when streaming had a req-reply pattern. The field should be empty and unused.

I haven't removed it because that would be a breaking API change.

Sorry for any confusion.

[2019-07-08 17:15] Manuri commented on #128
Thanks a lot for the explanation!

[2019-07-08 17:15] #128 closed

[2019-07-13 17:52] MateuszPluciennik opened #129 "Synchronous method does not throw exception when message publishing is not possible."
Hi,

I'm facing problem with synchronous publish method.

I am using:
- NATS Streaming server **v0.14.3** in cluster mode (three nodes).
- java-nats-streaming **v2.1.6**
- jnats **v2.5.2**

The client **does not throw** any exception when message publishing is not possible.

## How to reproduce issue

Test set:
- nats streaming server (in docker) with sql storage (postgres)
- java application able

[2019-07-15 18:36] sasbury commented on #129
Making a note to myself - the issue could be related to the fact that the core publish will buffer outgoing messages during reconnect, so the publish goes out after a reconnect and may happen before the streaming is reconnected

We also need to implement the disconnect callback at the STAN level, which is new

[2019-07-15 18:39] sasbury commented on #129
Stan does expect you to resend messages, so while there is a weird error here, it is essentially an internal thing. The client should resend if it doesn't get the ack for a publish.

[2019-07-17 18:16] MateuszPluciennik commented on #129
The problem here is that I don't know whether message was not acked.

`Publishes the payload specified by {@code data} to the subject specified by and blocks until an ACK or error is returned.`

How, differently than by catching an exception, can I recognize that the message was not delivered?

[2019-07-17 18:44] MateuszPluciennik opened #130 "Functionality to detect logical connection to streaming server."
When streaming server drop client id then messages from the client are not delivered. (https://github.com/nats-io/nats-streaming-server/issues/873)

It would be nice to have functionality that allow the client to check logical connection to streaming server.

[2019-07-17 19:05] sasbury commented on #130
There is a new, optional "ping/pong" APi on the server for this that we need to add to the client. It will help with this.

[2019-07-18 09:02] martinplaner commented on #129
I just wanted to chime in an state that we're also currently facing this problem as the `StreamingConnection.publish(String subject, byte[] data)` simply does not block until the ACK or error is received (in contrast to what is stated in the documentation, as mentioned above).

Looking at the implementation ([here](https://github.com/nats-io/stan.java/blob/master/src/main/java/io/nats/streaming/St

[2019-08-03 15:49] MateuszPluciennik commented on #129
@sasbury  Can you say what is the current status of this task?

[2019-08-04 23:59] sasbury commented on #129
I haven't had a chance to dig in on this.

[2019-08-08 14:59] CarloWakefield opened #131 "Add logging to java-nats-streaming"
We are using `java-nats-streaming` in version `2.1.6` in our Java Gradle project.
Unfortunately our program freezes when running integration tests on our CI server. It freezes at this code line:

`        return streamingConnectionFactory.createConnection();`

Now I wanted to turn up logging to see where exactly it freezes inside the `StreamingConnectionFactory`. Unfortunately I haven't found any

[2019-08-08 15:23] sasbury commented on #131
The latest Nats library has some tracing you can turn on for connections, i will look at adding something similar here.

[2019-08-09 00:04] sasbury opened #132 "Extend AckHandler to AckHandlerWithMessage"
Provide a method -

    void onAck(String nuid, Message msg, Exception ex);

and pass the message. Have to save it in the closure. Doc that the other method isn't called if this one is implemented.

Alternative is to include the message in the exception for existing ack handlers.

[2019-08-09 04:34] sasbury commented on #132
Can maybe do this with a default method and keep AckHandler the same!

[2019-08-09 05:36] sasbury commented on #130
Added support for ping in 1677e4efea953cbb7f1f211cdd02ff9bca3aa347.

[2019-08-09 05:37] #127 closed

[2019-08-09 05:37] #122 closed

[2019-08-09 05:38] sasbury commented on #129
Added support for disconnect callback in 1677e4efea953cbb7f1f211cdd02ff9bca3aa347

Also added support for ack handler to get information about the message to make it easier to resend using a manual ack handler.

Both will be in v2.2

[2019-08-12 18:04] sasbury commented on #129
ok, looking at the code, i don't see a block either, i think either it never was sync or it broke some time ago. I will work on making publish block if you don't have a handler and doc it in the next release (coming this week I hope).

[2019-08-12 18:16] sasbury commented on #129
I am putting in 2 fixes, first the fix to actually fire the ioexception on a timeout, but a backup timeout so that we don't get stuck if that logic fails. Should be in the 2.2.0  branch today if anyone has a chance to test.

[2019-08-12 19:48] sasbury commented on #69
2.2.0 will also include a tracing option that may help with this

[2019-08-14 18:24] #132 closed

[2019-08-14 18:24] #129 closed

[2019-08-14 18:24] #131 closed

[2019-08-14 18:25] #130 closed

[2019-08-23 10:39] CarloWakefield opened #135 "Extend NATS connection exception message with NATS connection properties"
Hi!

When the connection to the NATS Server can't be established, this exception is thrown:
[code]
It would be very useful if the exception message would be extended with the connection properties. For example:

This would come in very handy when reading logs and tracing errors.

Greetings
Carlo

[2019-08-23 15:14] sasbury opened #136 "Make ack handler safer on memory"
From slack:

Java NATS Streaming 2.2.0 introduces a new AckHandler who now also takes the data of the message. Does this not require a lot more memory as data cannot be garbage collected right away? Imaging pushing 1.000.000 messages of 10KB -> 10GB RAM in worst case, if acks take long. Please correct me if I'm wrong. I don't want to use max outstanding acks as the focus lies on publishing message

[2019-08-23 15:16] sasbury commented on #136
I am thinking we need to do a few things:

* add a default method to tell the connection whether or not it needs to save messages in the context
* make sure we don't save messages we don't need to
* clean up any references to deprecating the old ack handler, if we need a new method to indicate "save" then we can remove the old method in the future, but must document that the new form could receive

[2019-09-02 06:57] rregout opened #137 "InterruptedException in connect method signature"
In the NatsStreaming class the connect method throws an InterruptedException:

[code]

But does can it actually throw the InterruptedException? Because it is already catched in the method it self.

[2019-09-02 07:11] sasbury commented on #137
Probably overkill, I don't think it get the exception again.

[2019-09-03 20:31] toadzky opened #138 "Using a version range for nats-core causes problems for users with locked dependencies"
Pinning or locking dependencies to specific versions is a fairly common pattern to achieve repeatable builds. In maven, when a project is released, it resolves the versions before publishing to Maven Central and committing/tagging the source, then reverts it back to the range for the next snapshot.

Since stan.java depends on a range for nats-core in Maven Central, my builds fail every time you re

[2019-09-03 20:34] sasbury commented on #138
I am automating this build, will lock the version while I am at it.

Sorry about any pain from trying to automate the nats.java build.

[2019-09-03 20:35] #138 closed

[2019-09-04 06:56] peng-w opened #139 "Correct disconnection strategy?"
Hello:
    I'm using nats streaming as a messaging system, where messages are persisted to redis when the network is disconnected.Wait for the nats streaming to reconnect and resend the redis saved data.

I have a few questions:
1、Nats Streaming not support automatically reconnect? How to solve?
2、The correct way to determine the disconnection is:
  A: io.nats.streaming.Options.Builder#connectionL

[2019-09-04 07:00] sasbury commented on #139
1. Use the connection lost handler to identify your nats connection went away, but also use the acks you get from publish.

[2019-09-04 07:10] peng-w commented on #139
1、Use ackhandler to determine if the nats streaming receives a publish message
2、ConnectionLostHandler retries the operation
Is that right?

[2019-09-04 07:19] peng-w commented on #139
@sasbury，I have an idea, Thank you very much!

[2019-09-04 07:19] #139 closed

[2019-09-12 11:51] pepijno opened #140 "Reactive support for subscriptions"
Thanks for the awesome library!

I was wondering if support for reactive subscriptions can be added. For example, instead of doing
[code]
doing something like the following (using reactor core)
[code]
The above is just a possible example, I don't know what the best way of such an implementation would look like.

[2019-09-20 20:04] tjmcarthur opened #141 "Thread leak in client on "clientId already registered" Error"
I have a second instance of my application as hot standby in a registration loop, waiting for a valid connection. The standby instance OOMs every 90 minutes to due to a thread leak. The close method in StreamingConnectionImpl.java throws a NPE setting up the for loop
`for(AckClousre ac : this.pubAckMap.values()) { `
since pubAckMap is null, this cause the method to bail leaving the dispatchers ope

[2019-09-20 20:55] sasbury commented on #141
I will take a look. If you have a chance to put a PR together it might be faster, but I should be able to fix this in the next release. Sounds like we just need to skip that loop if the value is null, or pre-alloc the map.

[2019-09-23 14:48] tjmcarthur commented on #141
ok, I will code up a fix and submit a PR this morning

[2019-09-26 17:40] sasbury commented on #135
I added more to the exception in the core library, and also added a trace connection option. Closing this for now. Let me know if you need more.

[2019-09-26 17:40] #135 closed

[2019-09-26 17:56] sasbury commented on #136
fixed in 766e5c1

[2019-09-26 18:09] sasbury commented on #141
fixed in 2.2.3 going out today

[2019-09-26 18:09] #141 closed

[2019-09-26 18:09] sasbury commented on #136
going out with 2.2.3

[2019-09-26 18:09] #136 closed

[2019-09-26 19:43] sasbury opened #144 "automated deployment is timing out on travis"
Add longer timeout to gradle tasks
Maybe move off travis

[2019-10-23 18:08] lbtrier opened #145 "New clients connections are not randomized with multiple nodes"
Hi!
We're having a small problem with the NATS Java Client. We have a cluster running 3 NATS nodes and all of our clients are Java apps.
We've noticed that even if we have 3 nodes, all client connections happen only in one node. So our first node has 600 connections and node 2 and 3 only 5 connections each. This is causing some load problems for us because we're dealing with almost 2 billion messa

[2019-10-24 18:31] sasbury commented on #145
This is really a problem in nats.java, i will fix there.

[2019-10-25 18:02] sasbury commented on #145
fixed in https://github.com/nats-io/nats.java/releases/tag/2.6.6

[2019-10-25 18:02] #145 closed

[2019-11-22 11:23] pepijno opened #146 "ConnectionListener receives CLOSED event on reconnect"
When the nats server is stopped (or the connection is lost) but then is started again, the ConnectionListener of the StreamingConnectionFactory receives a `ConnectionListener.Events.CLOSED` event after the Reconnected event.

This happens from version `2.2.0` and onward. On version `2.1.6` it doesn't happen and on reconnect only the Reconnected event is received.

Is this supposed to happen?

[2019-11-22 23:20] sasbury commented on #146
I will take a look

[2020-01-23 15:25] gunnaringe opened #147 "Expose ackInbox from Message"
The only way to acknowledge a message today is by calling `Message.ack()`.

Would it be possible to get hold of the subscription or ackInbox from the message so that we could access it from within the subscription callback?

The background for this is that we are exposing a gRPC API using STAN as a backend, and allow the client of the API to invoke a ack on our side.
Ideally, we would have a metho

[2020-01-23 21:50] gunnaringe commented on #147
To clarify a bit, what I need is to send this message over gRPC and allow the client to send a ack back when this has been processed.

In order to send the required information from the callback handler, we would currently need to fetch this from the subscription after the callback is invoked as it doesn't have access to the subscription nor the ackInbox.

The Kotlin code below would work, but fee

[2020-02-13 09:55] mvanderblom commented on #146
Hi, i'm running into the same issue. Did you find the time to look into it yet?

[2020-02-13 11:27] mvanderblom commented on #146
Ok, so i've investigated a bit further. The double disconnect also occurs when using just the jnats client. The "connection closed event" is specific to the streaming client though. See attached testcases to illustrate the example.
[testcases.zip](https://github.com/nats-io/stan.java/files/4198000/testcases.zip)

[2020-02-13 11:37] mvanderblom commented on #146
The close event originates from this line of code: https://github.com/nats-io/stan.java/blob/master/src/main/java/io/nats/streaming/StreamingConnectionImpl.java#L401

[2020-02-13 13:16] mvanderblom commented on #146
I'm not sure if it is related or if it is a seprate issue, but it is what caused me to stumble upon this behavior in the first place, so that's why i'm adding it here.

If i add a publisher to the mix and restart NATS while both publisher and subscriber are connected and te publisher is sending messages the following happens:

- The publisher keeps sending messages -> as expected
- The log reflect

[2020-02-14 18:41] sasbury commented on #146
I switched jobs recently so running behind on this, i will try to take a look this weekend.

[2020-02-17 21:17] sasbury commented on #147
i merged your pull request into 2.2.4, once that ships we can close this.

[2020-02-17 21:54] sasbury commented on #146
i am pretty sure that this is related to the new ping behavior, i am not sure of the fix, but the close is happening because of a bad ping from during the disconnect or something

[2020-02-17 21:55] sasbury commented on #146
looking at the ping "error" we get - client has been replaced or is no longer registered - so the issue is maybe an outstanding ping or a valid ping that the server gets mad about because of the reconnect

[2020-02-18 18:38] kozlovic commented on #146
@mvanderblom Are you running the NATS Streaming server with a persistent store? If not, the default being MEMORY, it is expected that when the server restart, since there is no state recovered, the reconnect would be rejected.

[2020-02-19 11:00] mvanderblom commented on #146
@kozlovic I was using the in-memory config. I've observed the behavior you describe. When running in memory, the streaming client disconnects after a restart of the server. When i'm running with file based storage, the client reconnects and resubscribes as expected.

I guess that solves my "bug" ;-) Thanks for helping out!

It might be helpfull to others to describe this behavior in documentation

[2020-02-19 21:50] kozlovic commented on #146
@mvanderblom I submitted a PR for the doc [here](https://github.com/nats-io/nats.docs/pull/59). Thanks for the feedback!

[2020-02-19 23:11] kozlovic commented on #146
The doc PR has been merged and the change is now live. Closing this issue.

[2020-02-19 23:11] #146 closed

[2020-02-22 18:17] bmarcj commented on #140
I have been thinking about this a little bit.

It's not so hard to make a Flux from a subscription object via the `Flux.genrate(...)` part of the Reactor API. But the only backpressure support available would be buffering or dropping elements.

To add proper reactive support (effectively bridging a Flux via Nats Streaming) seems quite a bit more complicated.

[2020-03-13 02:46] mishraomp opened #150 "How to create NATS connection for the same topic with queue groups"
Hello,
 I am publishing a message to a topic and making my durable consumer listen to that topic, if multiple processes are started to consume from same topic it raises exception as client is already registered. in kubernetes/openshift enviroment multiple pods will try to consume from the same topic so queu group would help to make sure only one of them receive the message, but what about the clie

[2020-04-07 21:05] mdemille opened #151 "Add Additional Listener(s) for Logging"
Per a Slack conversation with @sasbury , I'm creating this issue.

In summary, while troubleshooting some issues in our projects, we've run in to some problems where we've found ourselves largely blind as to what exactly is going on under the covers because of the lack of debug and/or trace logs. We were going to add SLF4J logging, but found that it was removed here: https://github.com/nats-io/sta

[2020-04-24 15:19] znatashka commented on #118
hi! we have the same problem... could you share your solution, please?

[2020-06-07 08:04] evoxmusic commented on #70
Sorry to comment this old thread, but yes the error message is not obvious.

[2020-07-14 13:31] WestFarmer opened #154 "Can we use a long live StreamConnection"
hi, what's the best practice to use StreamConnection?

I suppose, a long live StreamConnection means a long live socket connection.

[2020-07-25 12:25] liqweed opened #155 "Support redeliveryCount in Message object"
`redeliveryCount` was added to `MsgProto` (in `protocol.proto`) and made available in the Go client as part of [nats-streaming-server #996](https://github.com/nats-io/nats-streaming-server/issues/996) .

This is critical for implementation of setting a limit number of redelivery attempts in client applications (as detailed in [nats-streaming-server #728](https://github.com/nats-io/nats-streaming-s

[2020-09-03 10:20] wutkemtt opened #156 "NATS Streaming connection gets degraded over time"
We have currently problems with one of our services connected to our cloud NATS-Cluster via Leafnode. We are using NATS-Streaming with Springboot MicroServices. The service runs very well for a long time, but then the connection to the NATS-Cluster gets lost sometimes, resulting in a "Timedout on heartbeats" message in the nats streaming server log. We checked everything, configs, nats servers, AK

[2020-09-15 15:04] steven-sheehy commented on #140
I need reactive stream support as well with proper backpressure support. Note that this doesn't require a new library since as of Java 9 Reactive Stream support is built into Java via [Flow](https://docs.oracle.com/javase/9/docs/api/java/util/concurrent/Flow.html). So if a NATS specific implementations of those interfaces are written that follow the [Reactive Streams](https://www.reactive-streams.

[2020-10-08 06:23] gi-wg2 commented on #150
I see this issue is a bit old, but the client ID is not part of the queue group.

You cannot reuse the same client ID, so a random client ID should work well.

https://docs.nats.io/nats-streaming-concepts/channels/subscriptions/queue-group

[2020-10-10 04:16] #150 closed

[2020-10-24 17:18] jDzames commented on #155
Just stumbled upon this, this is really crucial feature. Are there any plans to update lib to include this?

[2020-10-29 20:56] tanzeelrana opened #157 "restarting nats streaming server client connections dont recover"
On a fresh install when things are working fine we can see 7 clients and 12 channels(subscriptions)

![Screen Shot 2020-10-29 at 4 49 27 PM](https://user-images.githubusercontent.com/2520028/97631060-cf997a00-1a06-11eb-8212-30e81fbb610e.png)

![Screen Shot 2020-10-29 at 4 49 34 PM](https://user-images.githubusercontent.com/2520028/97631076-d2946a80-1a06-11eb-9e48-7a5eb956e551.png)

After we restar

[2020-12-04 09:37] xianghu1314 commented on #120
@sasbury i use the nats streaming server and android app use this [nats-io/stan.java](https://github.com/nats-io/stan.java),but this is a error:
`java.lang.NoClassDefFoundError: Failed resolution of: Ljava/time/Duration;
        at io.nats.stan.ConnectionFactory.<init>(ConnectionFactory.java:22)
        at com.hycx.gogymcashier.model.utils.NatsStreamingUtils$1.run(NatsStreamingUtils.java:34)

[2021-01-21 13:41] fxnn commented on #156
We're seeing a similar issue. @wutkemtt, did you have any new insights in meantime?

[2021-01-21 13:43] fxnn commented on #157
Seems to be the same as #118

[2021-01-21 13:44] fxnn commented on #118
@igoberman Can you share the workaround, please?

[2021-01-21 13:49] igoberman commented on #118
I do not remember. We stopped using Nats altogether and switched to Kafka.

[2021-01-21 16:18] fxnn commented on #118
Well, still thank you for the answer 🙂

[2021-03-01 19:26] francescoperera opened #160 "Mocking Nats Streaming Connection"
Hi,
I am trying to mock the streaming connection in my tests that are publishing or subscribing to Nats.

Is there any documentation, test-kit or examples on how to do so ?

Any tips or guidance would be appreciated.

[2021-03-23 09:03] b3nb1 commented on #155
it would be quite nice to add this to the java client as well. Maven repo was last updated in Sep. 2019 at this point.

[2021-04-11 11:55] siavashsoleymani commented on #156
Hi, we have a similar issue to this, any updates?

[2021-05-27 22:21] chongma opened #161 "Memory leak when using EJB Singleton"
I am trying to subscribe inside a singleton as defined in `SchedulerEvents.java` in this gist: https://gist.github.com/chongma/2a3ab451f2aeabc98340a9b897394cfe

It works fine but during development if I change the code then the context will be destroyed and it causes the stack trace `log.txt` in the gist.  Is there any way to ensure the threads get destroyed?

[2021-05-31 13:42] pablobragan opened #162 "Losed subscription"
Hi,

We have a situtation when the app restart and for some reason didn't closed a subscription but did close the client connection. After the app starts again, the subscription connects ok but if I check one of the channels it is appeared to be one subscription tilt with all the pending messages. I restart the application a few times and the channel is like stalled. Even I have disconnected that

[2021-05-31 14:36] chongma commented on #161
Seems to work ok if i create a producer like this
[code]
and then inject it using CDI into managed class
[code]

[2021-05-31 14:36] #161 closed

[2021-06-02 09:36] ajay-kudale opened #163 "Add example creating secure stan Java client"
Currently, I don't see any example of creating secure stan java client.
Example of secure nats client is there where we can use SSLContext in Options but how to do it in stan.
One can create secure nats connection first and pass it in steaming Options for creating secure stan connection. But adding example/sample code for that would be helpful.

[2021-06-14 11:41] chongma commented on #161
There are threading issues with this approach and it seems better to use JCA for this kind of sub pub.  Jon Gallimore at the TomEE team is helping me with an adapter https://github.com/jgallimore/tomee-chatterbox/tree/nats/chatterbox-nats

[2021-07-16 20:01] cartermckinnon opened #164 "Update protobuf"
This project currently uses a fairly-old version of `protobuf-java` (`3.9.1`). That version was released on August 6, 2019. The current version is `3.17.3`. Please update the version of `protobuf-java` to prevent runtime conflicts in projects which use newer versions. Enabling [dependabot](https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automaticall

[2021-12-02 20:56] SympleSynz commented on #155
Hello, has there been any movement on this?  Is it on a roadmap at all?